* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family:'ubutnu', sans-serif;
    overflow: hidden;
    color: #fff;
    background: royalblue;
}

section{
    width: 300px;
    height: 300px;
    background-color: royalblue;
    
}

p {
    text-transform: uppercase;
}